<!--此页面主要实现级联展示-->
{% extends "admin/base_site.html" %}
    {% load i18n admin_urls static admin_modify %}

    {% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static " admin/css/forms.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{
    opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
    &rsaquo; {% if add %}{% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}{% else %}{{
    original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}
<div id="content-main">
    {% block object-tools %}
    {% if change %}{% if not is_popup %}
    <ul class="object-tools">
        {% block object-tools-items %}
        {% change_form_object_tools %}
        {% endblock %}
    </ul>
    {% endif %}{% endif %}
    {% endblock %}
    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
          id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
        <div>
            {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
            {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
            {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
            {% if errors %}
            <p class="errornote">
                {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please
                correct the errors below." %}{% endif %}
            </p>
            {{ adminform.form.non_field_errors }}
            {% endif %}

            {% block field_sets %}
            {% for fieldset in adminform %}
            {% include "admin/includes/fieldset.html" %}
            {% endfor %}
            {% endblock %}

            {% block after_field_sets %}{% endblock %}

            {% block inline_field_sets %}
            {% for inline_admin_formset in inline_admin_formsets %}
            {% include inline_admin_formset.opts.template %}
            {% endfor %}
            {% endblock %}

            {% block after_related_objects %}{% endblock %}

            {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

            {% block admin_change_form_document_ready %}
            <script type="text/javascript"
                    id="django-admin-form-add-constants"
                    src="{% static 'admin/js/change_form.js' %}"
                    {% if adminform and add %}
                    data-model-name="{{ opts.model_name }}"
                    {% endif %}>
            </script>

            <script type="text/javascript">
                (function($) {
                      $('#id_city').change(function() {
                            let p_id = $('#id_province').val();
                            let c_id = $('#id_city').val();
                            $.get('/district/', {"p": p_id, "c": c_id }, function(a_info) {
                              var area_info = $('#id_district').empty().append('<option value>' + '---------' + '</option>');
                              $.each(a_info, function(i, area) {
                                area_info.append('<option value="' + area + '">' + area + '</option>')
                              });
                              {% if change %}
                                $("#id_district").find("option:contains({{ original.district }})").attr('selected', true);
                              {% endif %}
                            });
                          });

                          $('#id_province').change(function() {
                            let p_id = $('#id_province').val();
                            $.get('/city/', { 'p': p_id }, function(c_info) {
                              var city_info = $('#id_city').empty().append('<option value>' + '---------' + '</option>');
                              $.each(c_info, function(i, city) {
                                city_info.append('<option value="' + city + '">' + city + '</option>')
                              });
                              {% if change %}
                                $("#id_city").find("option:contains({{ original.city }})").attr('selected', true);
                                $("#id_city").trigger("change");
                              {% endif %}
                            });
                          });

                          $.get('/province/', function(p_info) {
                            var province_info = $('#id_province').empty().append('<option value>' + '---------' + '</option>');
                            $.each(p_info, function(i, province) {
                              province_info.append('<option value="' + province + '">' + province + '</option>')
                            });
                            {% if change %}
                              $("#id_province").find("option:contains({{ original.province }})").attr('selected', true);
                              $("#id_province").trigger("change");
                            {% endif %}
                      });
                })(django.jQuery);
            </script>
            {% endblock %}

            {# JavaScript for prepopulated fields #}
            {% prepopulated_fields_js %}

        </div>
    </form>
</div>
{% endblock %}