<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>疫情防控管理系统</title>
    <style>
        body{
<!--            background:#ccc;-->
        }
        .commonlink{
            text-decoration: none;
            color: #000;
        }
    </style>
</head>


<body>
<div>
    <center>
        <h1>你的身份是：</h1><br/>
    </center>
    <center>
        <table cellspacing="100">
            <tr>
                <td><a class="commonlink" href="{% url 'hospital_login' %}"><h2>医院用户</h2></a></td>
                <td><a class="commonlink" href="/admin"><h2>系统管理员</h2></a></td>
            </tr>
        </table>
    </center>
</div>
</body>

</html>